<div class="content-header">
    <div class="container-fluid">
        <div class="progress" *ngIf="isLoading">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Dashboard</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item active">อัปเดท {{covidLastUpdateDate}}</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>{{newCase | number}}</h3>

                        <p>ผู้ป่วยรายใหม่</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>{{newRecovered | number}}</h3>

                        <p>รักษาหาย</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>{{totalCase | number}}</h3>

                        <p>ผู้ป่วยสะสม</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>{{newDeath | number}}</h3>

                        <p>เสียชีวิตวันนี้</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-heart"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->

        <h5 class="mb-2">สถานการณ์จังหวัดสุราษฎร์ธานี</h5>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-12">
                <div class="info-box">
                    <span class="info-box-icon bg-info"><i class="far fa-envelope"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">ผู้ป่วยรายใหม่</span>
                        <span class="info-box-number">{{snewCase | number}}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-12">
                <div class="info-box">
                    <span class="info-box-icon bg-success"><i class="far fa-flag"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">ยอดสะสม</span>
                        <span class="info-box-number">{{stotalCase | number}}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-12">
                <div class="info-box">
                    <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">เสียชีวิตวันนี้</span>
                        <span class="info-box-number">{{snewDeath | number}}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-12">
                <div class="info-box">
                    <span class="info-box-icon bg-danger"><i class="far fa-heart"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">เสียชีวิตสะสม</span>
                        <span class="info-box-number">{{stotalDeath | number}}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->


        <div class="card">
            <div class="card-header">
                <h3 class="card-title">สถานการณ์การฉีดวัคซีน วันที่ {{reportDate}}</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>กลุ่มเป้าหมาย</th>
                            <th>เข็ม 1</th>
                            <th>เข็ม 2</th>
                            <th>เข็ม 3</th>
                            <th>สะสมเข็ม 1</th>
                            <th style="text-align: center;">% การฉีด</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>กลุ่ม 608</td>
                            <td>{{totalToday.t608_no1 | number}}</td>
                            <td>{{totalToday.t608_no2 | number}}</td>
                            <td>{{totalToday.t608_no3 | number}}</td>
                            <td>{{totalToday.t608 | number}}</td>
                            <td style="text-align: center;"><span
                                    [ngClass]="{'badge bg-danger': totalToday.result_608< 50, 'badge bg-success':  totalToday.result_608 >= 50}">{{totalToday.result_608 | number: '1.2-2'}}%</span>
                            </td>
                        </tr>
                        <tr>
                            <td>ประชาชนทั่วไป</td>
                            <td>{{totalToday.t501_no1 | number}}</td>
                            <td>{{totalToday.t501_no2 | number}}</td>
                            <td>{{totalToday.t501_no3 | number}}</td>
                            <td>{{totalToday.t501 | number}}</td>
                            <td style="text-align: center;"><span
                                    [ngClass]="{'badge bg-danger': totalToday.result_501< 50, 'badge bg-success':  totalToday.result_501 >= 50}">{{totalToday.result_501 | number: '1.2-2'}}%</span>
                            </td>
                        </tr>
                        <tr>
                            <td>นักเรียน</td>
                            <td>{{totalToday.t502_no1 | number}}</td>
                            <td>{{totalToday.t502_no2 | number}}</td>
                            <td>{{totalToday.t502_no3 | number}}</td>
                            <td>{{totalToday.t502 | number}}</td>
                            <td style="text-align: center;"><span
                                    [ngClass]="{'badge bg-danger': totalToday.result_502< 50, 'badge bg-success':  totalToday.result_502 >= 50}">{{totalToday.result_502 | number: '1.2-2'}}%</span>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
    <!-- Main row -->
</section>
<!-- /.content -->